body {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  width: 90%;
  margin-inline: auto;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 4rem;

  /* for subgrid */
  /* grid-template-rows: auto auto auto; */
}

.box {
  border: 2px solid rgb(201, 228, 94);
  padding: 1rem;
  border-radius: 6px;
  text-align: center;

  /* subgrid */
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / 4;
}